body {
  font-family: "Arial", "Meiryo", sans-serif;
  font-size: 20px;
  text-align: center;
}



.pink {
  color: rgb(255, 192, 203);
}


.blue {
  color: skyblue;
}

/* id="basic" の中にある p要素（子孫要素）だけを太字にする */
#basic p {
    font-weight: bold;
}


h1 {
    /* Googleフォントと総称フォントの指定 */
    font-family: 'Josefin Sans', sans-serif;
    
    /* フォントサイズをルート要素の2倍(2rem)に設定 */
    font-size: 2rem;
    
    /* 文字間を文字の大きさの1.2倍に設定 */
    letter-spacing: 1.2em;
    
    /* 影の指定（右に3px、下に3px、ぼかし3px） */
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    
    /* 下に3pxの実線を設定 */
    border-bottom: 3px solid rgb(115, 115, 114);
    
   
}